// Navigation Styles here
    .titleNav{
        /*border: 1px solid red;*/
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px dashed @navigation-border;
                nav{
                width: 47%;
                /*border: 1px solid blue;*/
                display: flex;
                justify-content: space-evenly;
            }
            nav a{
                text-decoration: none;
                color: black;
                font-size: 1.7rem;
            }
    }